<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Employees</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<form>
		<table>
			<tr>
				<th>Employee ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Position</th>
				<th>Department</th>
				<th>Pay Per Hour</th>
				<th>Date Hired</th>
				<th>Hours</th>
				<th></th>
			</tr>
			<tr th:each="currentEmp :  ${employees}" >
				<td th:text="${currentEmp.id}" />
				<td th:text="${currentEmp.firstName}" />
				<td th:text="${currentEmp.lastName}" />
				<td th:text="${currentEmp.position}" />
				<td th:text="${currentEmp.empDepartment}" />
				<td th:text="${currentEmp.salary}" />
				<td th:text="${currentEmp.dateHired}" />
				<td th:text="${currentEmp.hours}" />
				<td><a th:href="@{/managerUpdateEmployee/{id}(id=${currentEmp.id})}">Edit</a></td>
			</tr>
		</table>
	</form>	
</body>
</html>