<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Search</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div id="containerform">
		<form th:action="@{/searchById}" method=POST>
			Employee Id: <input name="id" id="id" size="20" th:value="${id}"
				required> <input name="Submit" type="submit"
				value="submit" />
		</form>
		<br>
		<form th:action="@{/searchByLastName}" method=POST>
			   Last Name:  <input name="lastName" size="20" th:value="${lastName}"
				required> <input name="Submit" type="submit"
				value="submit" />
		</form>
	</div>
</body>
</html>